---
BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
...